{{#each articles}}
<div class="row">
  <div class="col m8">
  <a href='{{{link}}}'>{{title}}</a>
  </div>

  <div class="col m4">
    <button data-id={{{id}}} data-isSaved=true class="waves-effect waves-light btn saveBtn">Save</button>
  </div>
{{/each}}